.App {
    height: 100vh;
    background: rgb(235, 234, 234);
}

.title-react {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}

.subtitle-react {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}